Cython==0.29.21
xarray==0.15.1
xlrd==1.2.0
pyproj==2.6
geopandas==0.7.0
netCDF4==1.5.3
numpy==1.18.4
nptyping==1.1.0
papermill==2.2.2
seaborn==0.11.0
scipy==1.4.1
scikit-learn==0.23.2
simple_colors
rpy2==3.3.3
cftime==1.1.3
tqdm>=4.32.2
PyKrige==1.5.1
descartes==1.1.0
ipykernel==5.3.4
jupyterlab==2.2.8
